section {
    width: 100%;
    min-height: 400px;
    padding: 1rem;
  }

.fw-bold {
    font-family: 'Roboto Slab', serif !important;
  }
.fw-light,
.form-label,
.form-select {
    font-family: 'Ubuntu', sans-serif !important;
  }