.bg {
    height: 300px;
    background-image: url(../../assets/images/city.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #d472ad;
    background-attachment: fixed;
    opacity: 0.6;
    background-position: center center;
    text-align: center; 
}
