@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}
.bg {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../../assets/images/city.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #ddc0d1;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
    color: #4c054e;
}
.bg-title {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.thep:first-of-type {
    animation: showup 7s infinite;
}
.thep:last-of-type {
    animation: slidein 7s infinite;
}
.thep:last-of-type span {
  animation: slidein 7s infinite;
}


