.bg {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../../assets/images/city.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #ddc0d1;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
    color: #4c054e;
}
.bg-title {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0.5rem;
    font-weight: 500;
}
